<launch>

    <arg name="ns_" default="rs_m1"/>
    <arg name="use_passthrough_preprocess" default="false"/>
    <arg name="cloud_tp" default="/rslidar_points_m1"/>
    
    <include file="$(find lvt2calib)/launch/lidar/livox_pattern.launch">
        <arg name="ns_" value="$(arg ns_)"/>
        <arg name="use_passthrough_preprocess" value="$(arg use_passthrough_preprocess)"/>
        <arg name="cloud_tp" value="$(arg cloud_tp)"/>
        <arg name="cluster_tole" value="0.05"/>
        <arg name="i_filter_out_max" value="50"/>
    </include>
</launch>